import(nlme)
import(tcltk)
import(tcltk2)
import(pastecs)
import(reshape)
import(relimp)
import(rkt)

importFrom(multcomp, glht)
importFrom(multcomp, mcp)
importFrom(mvtnorm, pmvt)
importFrom(lubridate, leap_year)
importFrom(e1071, impute)
importFrom(zoo, na.approx)

importFrom("grDevices", "colorRampPalette", "dev.new", "dev.off", "png")
importFrom("graphics", "abline", "axis", "barplot", "boxplot", "filled.contour", "identify", "legend", "lines", "title")
importFrom("stats", "acf", "aov", "lm", "loess", "loess.control", "median", "na.exclude", "na.fail", "na.omit", "na.pass", 
           "predict", "qqline", "qqnorm", "quantile", "reshape", "shapiro.test", "stl", "time", "ts", "window")
importFrom("utils", "browseURL", "capture.output", "fix", "read.table", "write.table")
importFrom("graphics", "box", "grid", "mtext", "par", "plot")
importFrom("methods", "is")
importFrom("stats", "cycle", "end", "frequency", "is.ts", "pnorm", "start", "tsp")

export(TTAinterface)
export(seasonTrend)
export(seaKen)
export(mannKen)
exportMethods(seaKen)
exportMethods(mannKen)
exportMethods(about)
exportMethods(interpTs)
exportMethods(seasonTrend)
